---
http_interactions:
- request:
    method: get
    uri: https://developer.nrel.gov/api/alt-fuel-stations/v1/nearest.json?api_key=QMl4YYq5qEQMoGUxtHoXFS8TfeRpw1FBd0tgTFk5&fuel_type=ELEC,LPG&limit=10&location=85701&radius=6.0&status=E
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Last-Modified:
      - Wed, 29 Mar 2017 16:03:39 GMT
      X-Ratelimit-Limit:
      - '1000'
      X-Ratelimit-Remaining:
      - '996'
    body:
      encoding: ASCII-8BIT
      string: '{"latitude":32.2147915,"longitude":-110.9715269,"precision":{"name":"postal_code","types":["postal_code"],"value":5},"station_locator_url":"http://www.afdc.energy.gov/afdc/locator/stations/","total_results":31,"station_counts":{"total":50,"fuels":{"E85":{"total":0},"ELEC":{"total":44,"stations":{"total":25}},"HY":{"total":0},"LNG":{"total":0},"BD":{"total":0},"CNG":{"total":0},"LPG":{"total":6}}},"offset":0,"fuel_stations":[{"access_days_time":"MON:
        24 hours | TUE: 24 hours | WED: 24 hours | THU: 24 hours | FRI: 24 hours |
        SAT: 24 hours | SUN: 24 hours","cards_accepted":null,"date_last_confirmed":"2017-03-29","expected_date":null,"fuel_type_code":"ELEC","id":49252,"groups_with_access_code":"Public","open_date":null,"owner_type_code":null,"status_code":"E","station_name":"Pennington
        St. Garage","station_phone":"888-998-2546","updated_at":"2017-03-29T07:10:08Z","geocode_status":"GPS","latitude":32.223128,"longitude":-110.96958,"city":"Tucson","intersection_directions":"W
        entrance off N Scott Ave\nLevel1\nOn N side at stairs\nW entrance off N Scott
        Ave\nLevel1\nOn N side at stairs","plus4":null,"state":"AZ","street_address":"110
        E. Pennington","zip":"85701","bd_blends":null,"e85_blender_pump":null,"ev_connector_types":["J1772"],"ev_dc_fast_num":null,"ev_level1_evse_num":null,"ev_level2_evse_num":2,"ev_network":"Blink
        Network","ev_network_web":"http://www.blinknetwork.com/","ev_other_evse":null,"hy_status_link":null,"lpg_primary":null,"ng_fill_type_code":null,"ng_psi":null,"ng_vehicle_class":null,"ev_network_ids":{"station":["53431"],"posts":["50723","50719"]},"distance":0.58563},{"access_days_time":"MON:
        6:00am-9:00pm | TUE: 6:00am-9:00pm | WED: 6:00am-9:00pm | THU: 6:00am-9:00pm
        | FRI: 6:00am-9:00pm","cards_accepted":null,"date_last_confirmed":"2017-03-29","expected_date":null,"fuel_type_code":"ELEC","id":48348,"groups_with_access_code":"Public","open_date":null,"owner_type_code":null,"status_code":"E","station_name":"Joel
        D Valdez Library","station_phone":"888-998-2546","updated_at":"2017-03-29T07:12:28Z","geocode_status":"GPS","latitu[...]
